#navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  padding: 10px;
  background-color: rgba(8, 6, 6, 0.8);
}

#navbar button {
  margin: 0 10px;
  background-color: rgba(8, 6, 6, 0);
  transition: background-color 0.3s ease, color 0.3s ease;
}

#navbar button:hover {
  background-color: rgb(229, 227, 216, 1);
  color: rgba(8, 6, 6, 0.9);
}
