.status-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px 10px;
  background-color: rgba(8, 6, 6, 0.8);
  color: rgba(255, 255, 255, 0.9);
  border-radius: 5%;
  margin: 10px;
  min-width: 160px;
  min-height: 40px;
}
