#games-container {
  display: flex;
  list-style: none;
  padding-inline-start: 0;
}

.game-thumbnail {
  width: 180px;
}

.thumbnail-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  outline: auto 5px;
  background-color: rgba(76, 62, 62, 0.8);
  border-radius: 2%;
}
